<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>
    {% block title %} {{ blog.title }} {% endblock %}
  </title>
    <link href="{{ STATIC_URL }}blog/css/as_blog_styles.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}blog/css/prettify.css" rel="stylesheet" type="text/css" />
{#    http://fonts.useso.com#}
    <link href='{{ FONT_URL }}/css?family=Droid+Serif:regular,bold&subset=latin' rel='stylesheet' type='text/css'>
    <link href='{{ FONT_URL }}/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='{{ FONT_URL }}/css?family=Molengo&subset=latin' rel='stylesheet' type='text/css'>

</head>
<body >
<!--BASE CONTAINER STARTS-->
<div id="mainpage_bg">
  <!--PAGE CONTAINER STARTS-->
  <div id="page_container">
  {% comment %}
    <!-- HEADER STARTS HERE -->
    <div id="header">
      <div id="header-inner">
        <a href="{% url 'blog:index' %}">
            <img src="{{ STATIC_URL }}blog/images/blog_logo.png" width="206" height="67" alt="cjhan blog" />
        </a>
        <h2 class="message">
            to overcome cognitive biases and practice the art of human rationality.
            </br>
            to reach mastery in computer programming and use my expertise to make people’s lives more fulfilling.
        </h2>
      </div>
    </div>
    <!-- HEADER ENDS HERE -->
    <!-- BREADCRUMBS STARTS HERE -->

    <div id="breadcrumbs">
      <ul id="crumbs">
        <li><a href="/" rel="nofollow">Home</a></li>
        {% block breadcrumbs %}
        <li><a href="#">Main section</a></li>
        <li><a href="#">Sub section</a></li>
        <li>The page you are on right now</li>
        {% endblock %}
      </ul>
    </div>
    <!-- BREADCRUMBS ENDS HERE -->
    <!-- CONTENT BLOCK STARTS HERE -->
    {% endcomment %}
    <div id="content_block">
      <div class="leftpanel">
        <div class="site-meta">
            <div class="site-logo">
                <a rel="start" class="brand" href="/" style="opacity: 1;">
                    <span class="logo-line-before"><i></i></span>
                    <span class="site-title" style="opacity: 1; top: 0px;">cjhang blog</span>
                    <span class="logo-line-after"><i></i></span>
                </a>
            </div>
            <nav class="site-nav site-nav-on">
                <ul class="menu menu-left" id="menu">
        <li class="menu-item menu-item-home menu-item-active" style="opacity: 1; transform: translateY(0px);">
            <a rel="section" href="/">
              <i class="menu-item-icon fa fa-home fa-fw"></i> <br>
              首页
            </a>
        </li>
        <li class="menu-item menu-item-archives" style="opacity: 1; transform: translateY(0px);">
          <a rel="section" href="/archive">
              <i class="menu-item-icon fa fa-archive fa-fw"></i> <br>
            归档
          </a>
        </li>
        <li class="menu-item menu-item-tags" style="opacity: 1; transform: translateY(0px);">
          <a rel="section" href="/tags">
              <i class="menu-item-icon fa fa-tags fa-fw"></i> <br>
            标签
          </a>
        </li>
        <li class="menu-item menu-item-search" style="opacity: 1; transform: translateY(0px);">
          <a class="st-search-show-outputs" href="#">
            <i class="menu-item-icon fa fa-search fa-fw"></i> <br>
              搜索
          </a>
        </li>
    </ul>
                <div class="site-search">
                    <form class="site-search-form">
                        <input type="text" class="st-search-input st-default-search-input" id="st-search-input" autocomplete="off" autocorrect="off" autocapitalize="off">
                    </form>
                </div>
            </nav>
        </div>
      </div>
      <div class="rightpanel">

        {% block content %}

        {% endblock %}
      </div>
      
      <div class="clear"></div>
    </div>
    <!--  CONTENT BLOCK STARTS HERE -->
  </div>
  <!--PAGE CONTAINER ENDS-->
  <!--FOOTER CONTAINER STARTS-->
  <div id="footerbg">
    <span class='footertext'>
        &copy;COPYRIGHT cjhang blog
        <a href="/manage/">manage</a>
    </span>    
  </div>
  <!--FOOTER CONTAINER ENDS-->
</div>
<!--BASE CONTAINER ENDS-->
<script type="text/javascript" src="{{ STATIC_URL }}blog/js/jquery.min.js"></script>
</body>
</html>




