<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>
    {% block title %} {{ blog.title }} {% endblock %}
  </title>
    <link href="{{ STATIC_URL }}blog/css/as_blog_styles.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}blog/css/prettify.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.useso.com/css?family=Droid+Serif:regular,bold&subset=latin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Molengo&subset=latin' rel='stylesheet' type='text/css'>

</head>
<body >
<!--BASE CONTAINER STARTS-->
<div id="mainpage_bg">
  <!--PAGE CONTAINER STARTS-->
  <div id="page_container">
    <!-- HEADER STARTS HERE -->
    <div id="header">
      <a href="{% url 'blog:index' %}">
        <img src="{{ STATIC_URL }}blog/images/blog_logo.png" width="206" height="67" alt="cjhan blog" />
      </a>
      <h2 class="message">
        to overcome cognitive biases and practice the art of human rationality. 
        </br>
        to reach mastery in computer programming and use my expertise to make people’s lives more fulfilling.
      </h2>
    </div>
    <!-- HEADER ENDS HERE -->
    <!-- BREADCRUMBS STARTS HERE -->
    <div id="breadcrumbs">
      <ul id="crumbs">
        <li><a href="/" rel="nofollow">Home</a></li>
        {% block breadcrumbs %}
        <li><a href="#">Main section</a></li>
        <li><a href="#">Sub section</a></li>
        <li>The page you are on right now</li>
        {% endblock %}
      </ul>
    </div>
    <!-- BREADCRUMBS ENDS HERE -->
    <!-- CONTENT BLOCK STARTS HERE -->
    <div id="content_block">
      <div class="leftpanel">
        {% block content %}

        {% endblock %}
      </div>
      
      <div class="clear"></div>
    </div>
    <!--  CONTENT BLOCK STARTS HERE -->
  </div>
  <!--PAGE CONTAINER ENDS-->
  <!--FOOTER CONTAINER STARTS-->
  <div id="footerbg">
    <span class='footertext'>
        &copy;COPYRIGHT cjhang blog
        <a href="/manage/">manage</a>
    </span>    
  </div>
  <!--FOOTER CONTAINER ENDS-->
</div>
<!--BASE CONTAINER ENDS-->
<script type="text/javascript" src="{{ STATIC_URL }}blog/js/jquery.min.js"></script>
</body>
</html>




